{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
		<title>HACKATHON</title>
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class='fluid-container'>
	<div class='col-md-8 col-md-offset-2'>
	<br><br><br>
		<form method="POST" action="">{% csrf_token %}
			{{ form }}
			<br><br>
		<input class="btn btn-lg btn-primary" type="submit" value="Log In" class='btn btn-default'/>
		</form>	
	</div>
</div>
</body>
</html>